.header {
    overflow: hidden;
    /* flex-grow: 0; */
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 3;
    padding: 0px 16px 0px 0px;
    --width: 100vw;
    height: 5%
}

img.logo{
    width: auto !important;
    height: 90% !important;
    border-radius: 10px;
}

.logos{
    min-width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
  }

img.zoom{
    width: auto;
    height: 70%;
    margin-right: 2px;
    margin-top: 3px
}


